<body>
    <div class ="navbar-logo-center wf-section">
        <div data-animation="default" data-collapse ="medium" data-duration="400" data-easing ="ease" data-easing2="ease" role="banner" class="navbar-log-center-container shadow-three w-nav">
            <div class ="container">
            <div class ="navbar-wrapper-three">
                <a href ="#" class ="navbar-brand-three w-nav-brand"><img scr="" loading ="lazy" width ="188.5" alt=""> </a>
                 <nav role ="navigation" class ="nav-meu-wrapper-three w-nav-menu">
                  <div class="nav-menu-three">
                    <ul role ="list "class ="nav-menu-block w-list-unstyled">
                        <li class ="mobile-margin-top-10">
                            <a href ="#" class ="button-primart-2 w-button"> Get Started </a>
                        </li>
                    </ul>
                  </div>
                 </nav>
                  <div class= "menu-button w-nav-button"></div>
            </div>
            </div>
        </div>
    </div>
    <section class = "hero-heading-center wf-section">
     <div class= "container">
        <h1 class = "centered-heading margin-bottom-32px">Password Safe</h1>
          <div class ="hero-wrapper">
            <div class ="hero-spilt">
                <p class ="margin-bottom-24px"> password manager designed to help users securely store and manage their passwords. It allows users to store all their passwords in one place and access them easily whenever needed. To use the app, users create a master password, which is the only password they need to remember. All their other passwords are encrypted and stored securely on the app.</p>
                <a href ="#" class="button-primary w-button">Get Started</a>

            </div>
            <div class "hero-split"><img src ="" loading ="lazy" width="204" alt="" class="image"> </div>


          </div>
    </div>
    </section>
</body>